:root {
    --primary-color: #ff5200;
    --bg-color: #fee2b3;
    --white: #fff;
    --black: #000;
    --shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    --primary-font: 'Nunito', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --text-dark: #333;
    --headings-font: 'Playfair Display', serif;
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url('../fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/static/Nunito-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/static/Nunito-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: var(--primary-font);
    color: var(--text-dark);
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headings-font);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}

svg {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.heroContainer {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    position: relative;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

header {
    padding: 25px 0;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: var(--white);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 25px;
}

header .logo span {
    color: var(--primary-color);
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav ul li {
    list-style: none;
    text-transform: capitalize;
    font-size: 15px;
}

header nav ul li a {
    color: var(--white);
    opacity: 0.6;
    text-decoration: none;
}

header nav ul li a:hover {
    opacity: 1;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-toggle {
    cursor: pointer;
    color: var(--white);
    display: none;
    background: transparent;
    border: none;

    svg {
        width: 25px;
        height: 25px;
    }
}

.primary-btn {
    background: var(--primary-color);
    color: var(--white);
    padding: 13px 32px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-transform: capitalize;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.primary-btn::after {
    width: 0%;
    height: 100%;
    content: "";
    background-color: var(--white);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}

.primary-btn:hover {
    color: var(--primary-color);
}

.primary-btn:hover::after {
    width: 100%;
}

.hero {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: var(--white);
    max-width: 600px;
    text-align: center;
    padding: 10px;
}

.hero-enjoy-pTag {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.hero h1 {
    text-transform: capitalize;
    font-size: 70px;
    margin-bottom: 10px;
}

.hero-description-pTag {
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 15px;
}

.hero button {
    padding: 14px 20px;
    letter-spacing: 1.5px;
}

.socials {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.hero-socials {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.socials a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 10px;
    border-radius: 50%;
    color: var(--primary-color);
    cursor: pointer;
}

.socials a:hover {
    color: var(--white);
    border-radius: 0;
    background: var(--primary-color);
}

@media (max-width: 1199px) {
    .nav-toggle {
        display: block;
    }

    header nav {
        position: fixed;
        width: 300px;
        height: 100vh;
        z-index: 1010;
        top: 0;
        right: -100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 30px 50px;
        transition: right 0.3s ease-in-out;
    }

    header nav.active {
        right: 0%;
    }

    header nav ul {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
    }

    header nav ul li a {
        display: inline-block;
        opacity: 1;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero {
        background: red;
    }
}

@media (max-width: 600px) {
    .heroContainer {
        padding-bottom: 50px;
        height: auto;
    }
}

/* end of hero styles */

/* start of popular dessert styles */
.popularDessert {
    width: 100%;
    padding: 40px;
}

.popularDessert-choose-pTag,
.popularDessertHeader {
    color: #333;
    text-align: center;
}

.popularDessertHeader {
    font-weight: 100;
    font-size: 30px;
    text-transform: capitalize;
    font-family: cambria;
    margin-bottom: 20px;
}

.popularDessertHeader span {
    font-weight: 900;
    color: var(--primary-color);
}

.popularDessert-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.popularDessert-col {
    width: 23%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3.5px;
    border: 0.0001px solid rgb(133, 133, 133);
    padding: 20px;
    cursor: pointer;
    transition: .7s;
    height: 140px;
}

.popularDessert-col:hover {
    background-color: var(--white);
    border: none;
}

.dessertImg {
    display: block;
    width: 28%;
}

.dessertImgText h3 {
    font-weight: 100;
    font-size: 20.8px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.dessertImgText p {
    font-size: 20.8px;
    color: var(--primary-color);
    font-family: trebuchet MS;
}

.popularDessert-col:nth-child(3) .dessertImg,
.popularDessert-col:last-child .dessertImg {
    width: 35%;
}

/* end of popular dessert styles */

/* start of customers and Gallery styles */
.customersGallery {
    width: 100%;
    height: 660px;
    background: linear-gradient(rgba(245, 201, 126, 0.7), rgba(245, 201, 126, 0.7)), url(../images/customersGallery.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* end of customers and Gallery styles */